[Desktop Entry]
Version=0.17.6
Name=Bitcoin 2.0 Core Testnet
Comment=Connect to the BITCOIN2P2P Network Testnet
Exec=bitcoin2-qt -testnet %u
Terminal=false
Type=Application
Icon=bitcoin2testnet128
MimeType=x-scheme-handler/bitcoin2;
Categories=Network;
StartupWMClass=BTC2-qt-testnet
Name[en_US]=bitcoin2-qt-testnet
