[Desktop Entry]
Version=0.17.6
Name=Bitcoin 2.0 Core
Comment=Connect to the BITCOIN2P2P Network
Exec=bitcoin2-qt %u
Terminal=false
Type=Application
Icon=bitcoin2128
MimeType=x-scheme-handler/bitcoin2;
Categories=Network;
StartupWMClass=BTC2-qt
Name[en_US]=bitcoin2-qt
